.projects-container{flex-direction: column;
  gap: 1rem;
  width: 92%;
  max-width: 800px;
  padding: 1rem;
  border: 2px solid black;
  margin: 3px;
  height: auto;}

  .Probutt{
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }

  .Project1{
    margin-bottom: 10px;
  }